html {
    filter: invert(1) hue-rotate(180deg) contrast(85%);
}

button, input {    
    /*color: rgb(200, 195, 188) !important;*/
    vertical-align: middle;
}
.form-control, input, select{
    padding: 3px 4px;
}
.multiselect{
    min-height: 10px;
}
.multiselect__select{
    height: 20px;
    line-height: inherit;
}
.multiselect__tags{
    padding: 4px 2px 0px 4px;
    min-height: 10px;
}
.multiselect__placeholder{
    padding: 0px;
    margin-bottom: 2px;
}
.multiselect__input{
    min-height: 20px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0px;
}
.multiselect__option{
    min-height: 20px;
    padding: 4px;
}
.multiselect__option::after{
    line-height: 20px;
}
.multiselect, .multiselect__input, .multiselect__single{
    font-size: 14px;
}
.pure-u-4-5 {
    margin-right: 10px;
    width: 80%;
}
.form-group{
    margin-bottom: 10px;
}
label{
    margin-bottom: 0;
    display: block;
}
.btn.icon {
    font-size: 1.1em;
}
.form-actions, .fileprogresscontainer{
    margin-top: 20px;    
}
.fileprogresscontainer{
    text-align: center;
    border: 1px dashed blue;
    border-radius: 4px;
    padding: 10px;
}
.form-actions .btn{
    font-size: 1.05em;
    width: 80%;
}
input[readonly], select[readonly]{
    /*background-color: rgb(40, 40, 40);*/
    filter: contrast(80%);
}
.sidebar .nav-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}
.link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.toolbar-footer{
    padding: 0 5px;
}
#fileprogress{
    width: 100%;
}
select option {
    background-color: #131313;
    color: rgb(200, 195, 188);
}
.cancelicon{
    margin-left: 10px;
    font-size: 1.3rem;
    color: red;
    vertical-align: middle;
    cursor: pointer;
}
.rotating {
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blinking {
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100;
}
@keyframes blinking {
    50% {
        border-color: white;
    }
}